* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
    --color-yellow: #F7C417;
    --color--light-yellow: #FFFE4A;
    --color--shadow-yellow: #FFD901;
    --color-black: #0B0B0B;
    --color-black-light: #1A1A1A;
    --color-gray: #C9C9C9;
    --color-white: #FFFFFF;
    --color-gray-dark: #606060;
    --color-red:#AA2315;
    --color-creme: #FFF1C0;
}

/* componentes */

.order-now {
  width: 75%;
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--light-yellow);
  border: none;
  border-radius: 2.5rem;
  padding: 1rem 0rem;
  color: var(--color-black);
  font-size: 1.5rem;
  gap: 1rem;
  cursor: pointer;
  font-weight: lighter;
  box-shadow: 0rem 0.5rem 0rem var(--color--shadow-yellow);
}

body {
  background: #0d0d0d;
  color: var(--color-white);
}

/* hero */
.hero {
  background: linear-gradient(45deg, #0B0B0B, #1A0D0C, #AA2315);
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  opacity: 0.05;
  right: 0;
}

.background-image {
  height: 100vh;
  object-fit: cover;
}

/* container */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Conteúdo */
.content {
  color: var(--color-white);
  width: 40%;
}

.content p {
  color: var(--color-white);
}

.content span {
  font-weight: bold;
}

.benefits {
  display: flex;
  flex-direction: column;
}

.hero-benefit {
  display: flex;
  gap: 0.5rem;
}

.hero-benefit li{
  list-style: none;
}

.text-gradient {
  background: linear-gradient(45deg, #FF4747, #F6E323);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* .badge {
  display: inline-block;
  color: #ff6a00;
  font-weight: bold;
  font-size: 1rem;
} */

h1 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.span {
 background: linear-gradient(90deg, #ffcc00, #ffea00);
}

p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 25px;
}

/* Produto */

.product {
  height: 100vh;
}

img.hero-vector {
  
}

img.product-image {
  position: absolute;
  z-index: 1;
  transform: translateX(-85%);
}


/* Responsivo */
@media (max-width: 64rem) {
  .hero {
    height: auto;
    width: auto;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 2rem;
  }
  .content {
    width: 80%;
    text-align: start;
  }
}

/* Frame */ 
.frame {
  background-color: var(--color-yellow);
}

.benefits {
  max-width: 500px;
  padding: 10px 65px;
  margin: auto;
}

.benefit {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.benefit span {
  color: var(--color-black);
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
}

.benefit img {
  width: 48px;
  height: 48px;
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}


@media (min-width: 768px) {
  .benefits {
    flex: 1;
    max-width: 1218px;
    padding: 30px 85px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
  
.benefit {
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.benefit img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: block;
}

.benefit span {
  max-width: 185px;
}

.divider {
    width: 1px;
    height: auto;
  }
}

/* sobre */

.sobre {
}

.sobre-content { 
    flex: 1;
    margin: auto;
    max-width: 1218px;
  }

.product-stamp img {
  margin: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.content-on {
  max-width: 500px;
  text-align: start;
  padding: 10px 65px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -30px;
  position: relative;
  margin: auto;
}
@media (min-width: 768px) {
  .content-on {
    max-width: 1218px;
    flex-wrap: wrap;
  }
  .sobre-content { 
    display: flex;
  }
  .product-stamp img {
    height: 100%;
    width: 500px;
}
}

/* About */

.about-benefits {
  margin-top: 50px;
}

.content-about {
  max-width: 500px;
  padding: 10px 65px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.checklist {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.product-about {
  position: absolute;
  z-index: 2;
  margin-top: 25px;
}

.flash {
  position: relative;
  z-index: 1;
  margin-top: -45px;
}


/* preços */

.precos {
  background-color: var(--color-gray);
}

.frame-precos {
  max-width: 1210px;
  margin: auto;
  padding: 50px 65px;
  align-items: center;
}

.frame-precos h1 {
  color: var(--color-black);
  text-align: center;
  font-size: 40px;
}

.frame-precos p {
  color: var(--color-black-light);
  font-size: 20px;
  text-align: center;
}

/* cards */ 

.cards {

  display: flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  margin: auto;
}

.card-secundary {
  flex: 1;
  background: var(--color-white);
  max-width: 382px;
  max-height: 812px;
  text-align: center;
  border-radius: 12px;
}

.card-primary {
  flex: 1;
  background: var(--color-creme);
  max-width: 382px;
  max-height: 841px;
  text-align: center;
  border-radius: 12px;
}

.card-secundary-top {
  margin: 0;
  background-color: var(--color-black);
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-primary-top {
  margin: 0;
  background: linear-gradient(to right, var(--color-red), var(--color-yellow));
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-secundary-top p {
  color: var(--color-white);
  padding: 8px;
}

.card-primary-top p {
  color: var(--color-white);
  padding: 8px;
}

.product-quant * {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  text-align: center;
  font-size: 32px;
}

.product-quant p{ 
  color: var(--color-gray-dark);
  font-size: 24px;
  margin-top: 0;
}

.products {

}

.products img {
  max-width: 280px;
  max-height: 280px;
}


.precos-valor {
  display: flex;
  align-items: baseline;
  margin: auto;
  justify-content: center;
}

.precos-valor h1{
  font-size: 64px;
}

.precos-list {
  color: var(--color-black);
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: auto;
  list-style: none;
  color: var(--color-gray-dark);
  gap: 5px;
  left: 5px;
}

.precos-list-valor {
  display: block;
  padding: 30px 40px;
}

.precos-icons {
  display: flex;
  gap: 5px;
}

.cards-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.precos-total {
  color: var(--color-gray);
}

.precos-total {
  text-align: center;
}

.precos-total p {
  font-size: 22px;
  font-weight: 500;
  color: #6b7c8a;
}

.preco-antigo {
  text-decoration: line-through;
  text-decoration-color: #e53935; 
  color: #8fa1af;
  margin: 0 8px;
}

.preco-novo {
  color: #005c8f;
  font-weight: 700;
  font-size: 28px;
}

.borda-gray {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}

.borda-black {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}

.borda-red {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-red);
  box-sizing: border-box;
}



/* ingredients */

.ingredients {
  background-color: var(--color-white);
}

.ingredients-content {
  color: var(--color-black);
  max-width: 500px;
  padding: 60px 65px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 60px;
}

.ingredients-title{
  flex: 1;
  text-align: center;
  max-width: 742px;
  margin: 0 auto;
  color: var(--color-black);
}

.ingredients-cards {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0;
}

.ingredients-card {
  background-color: var(--color-black-light);
  color: var(--color-white);
  border-radius: 12px;
  max-width: 320px;
  text-align: center;
  padding: 70px 30px;
}

.button-ingredients {
  max-width: 396px;
  margin: auto;
}

.button-ingredients:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .ingredients-content {
    max-width: 1216px;
  }
}


/* relatos */

.relatos {
  background-color: var(--color-white);
}

.relatos-content {
  color: var(--color-black);
  max-width: 500px;
  padding: 60px 65px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 60px;
}

.relatos-cards {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  gap: 20px;
}

.relatos-card {
  width: 281px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


.relatos-card img {
  width: 100%;
  object-fit: cover;
  display: block;
}


.relatos-text{
  text-align: start;
  padding: 20px;

}

.relatos-text p {
  color: var(--color-gray-dark);
}

.relatos-name {
  padding: 10px;
}

.relatos-name h2{
  padding-top: 16px;
  font-size: 16px;
}


.relatos-title {
  color: var(--color-black);
  text-align: center;
  max-width: 892px;
  margin: auto;
}

.relatos-title span {
  color: var(--color-yellow);
}

@media (min-width: 48rem) {
  .relatos-content {
    max-width: 1218px;
  }
}

@media (min-width: 1024px){
  .relatos-cards {
  flex-wrap: nowrap;
}
}
/* Frete */

.frete {
  background-color: var(--color-yellow);
}

.frete-content {
  max-width: 1151px;
  display: flex;
  gap: 5px;
  margin: auto;
  padding: 50px;
  justify-content: space-between;
}

.frete-text h1, p {
  color: var(--color-black);
}

.frete-text span {
  color: var(--color-gray-dark);
}

/* Ofertas */

.ofertas {
  background-color: var(--color-black);
}

.ofertas-top {
  text-align: center;
  max-width: 1054px;
  margin: auto;
  padding: 40px;
}

.ofertas-top span {
  color: var(--color-yellow);
}

.ofertas-content {
  background-color: var(--color-white);
  margin: auto;
  color: var(--color-black);
}

.ofertas-assess {
  flex: 1;
  text-align: center;
  margin: auto;
  max-width: 1218px;
  gap: 5px;
}

.ofertas-assess-points {
  display: flex;
  justify-content: center;
  margin: auto;
}

.ofertas-assess span {
  color: var(--color-yellow);
}
